@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&family=Kanit:wght@800&family=Poppins:wght@300;700&display=swap');

:root {
  --primary-color: #ff7e01;
  --secondary-color: #faa935;
  --heading-color: #0b2727;
  --text-color: #6e7074;
  --XanhTim: hsl(244, 59%, 51%);
  --font-name: "Montserrat", sans-serif;
  --subtitle-font-name: "Island Moments", cursive;
}

.hero__subtitle img{
    width: 2.3rem;
    height: 2.3rem;
}

.hero__content h1 {
    font-size: 3.2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--heading-color);
}

.hero__content h1 .highlight {
    color: #F85E9F;
}

.hero__content p{
    font-size: 1.1rem;
    color: var(--text-color);
    line-height: 2rem;
}

.hero__img-box img,
.hero__img-box video {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    border: 1px solid linear-gradient(#FB7B8E, #031B88);
    object-fit: cover;
}

.hero__content {
    padding-top: 3.5rem;
}

.hero__img-box {
    padding-top: 2rem;
}

.services__subtitle{
    font-size: 2.2rem;
    font-weight: 500;
    color: #F85E9F;
    font-family: "Montserrat", sans-serif;
}

.services__title{
    font-size: 2.5rem;
    font-weight: 500;
}

.featured__tour-title {
    font-size: 2.3rem;
    font-weight: 500;
}

.experience__content p {
    font-size: 1.1rem;
    color: var(--text-color);
    margin-top: 1rem;
}

.counter__wrapper{
    margin-top: 2.5rem;
}

.counter__box{
    width: 100%;
}

.counter__box span{
    width: 70px;
    height: 70px;
    margin: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#FB7B8E, #031B88);
    color: #fff;
    border-radius: 10px 5px 10px 5px;
    font-size: 1.6rem;
    font-weight: 600;
}

.counter__box h6{
    font-size: 1.1rem;
    margin-top: 0.7rem;
    color: var(--text-color);
}


@media only screen and (max-width: 992px) {
    .hero__content h1 {
        font-size: 2.7rem;
    }

    .hero__img-box {
        display: none;
    }

    .hero__video-box {
        display: block;
    }

    .services__title, .featured__tour-title, .experience__content h2{
        font-size: 2rem;
    }

    .experience__img {
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .hero__content h1 {
        font-size: 2.3rem; 
    }
    .hero__img-box {
        display: block; 
    }
    .hero__video-box {
        display: none;
    }
    .services__title, .featured__tour-title, .experience__content h2 {
        font-size: 2rem; 
    }
    .experience__img {
        margin-top: 2rem; 
    }
}

@media only screen and (max-width: 576px) {
    .hero__content h1 {
        font-size: 1.8rem;
        color: var(--text-color);
    }
    
    .services__title, .featured__tour-title, .experience__content h2 {
        font-size: 1.5rem;
    }
}