.UserInfo {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
.AvatarContainer {
    margin-bottom: 20px;
}
  
.AvatarImage {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--primary-color);
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
  
.AvatarImage:hover {
    transform: scale(1.1);
}
  
.UserInfo h2 {
    color: var(--XanhTim);
    font-size: 24px;
}
  
.UserInfo p {
    font-size: 16px;
    margin-bottom: 10px;
}
  
.UserInfo:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
  